html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 8rem;
    color: #fff;
    font-family: sans-serif;
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}